<!DOCTYPE HTML>

<html style="background: #202B35">
	<head>
        <meta property="og:title" content="A portfolio website of a python developer Alex Kelin">
        <meta property="og:description" content="Look up relevant projects and experience of Alex Kelin - a python developer">
        <meta property="og:type" content="article">
        <meta property="og:url" content="https://alex-kelin.onrender.com">
        <meta name="Hire this guy" property="og:image" content=".../static/images/IMG_2243.JPG"/>
		<title>Hire this guy</title>
		<meta charset="utf-8" />
        <meta name="title" content="A portfolio website of a python developer Alex Kelin">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<i class="is-preload">
		<!-- Nav -->
			<nav id="nav" style="background: #1E1E1D">
                <div style="align-items: flex-start; display: flex; height: 2px">
                    <li><a href="https://www.linkedin.com/in/alexkelin/" class="icon brands fa-linkedin-in" style="color: #EDB54B"><span class="label">LinkedIn</span></a></li>

                    <li><a href="https://github.com/AlexKelin" class="icon brands fa-github" style="color: #D3EBE9"><span class="label" >Github</span></a></li>
                                    <li><a style="position: relative; color: #33859D" href="https://www.facebook.com/alex.kelin.7" class="icon brands fa-facebook-f" ><span class="label">Facebook</span></a></li>

                </div>
				<ul class="container" style="height: 15px; font-style: normal">
                    <li><a href="#work" style="color: #EDB54B; font-style: normal">Projects</a></li>
                    <li><a href="#worksheets" style="color: #EDB54B;  font-style: normal">Worksheets</a></li>
                    <li><a href="#omg" style="color: #EDB54B;  font-style: normal">Experience</a></li>


                    <li><a href="#contact" style="color: #EDB54B">Contact</a></li>
                </ul>
			</nav>
		<!-- Home -->
			<article id="top" class="wrapper style1" style="background: #202B35">
				<div class="container" style="background: #202B35">
					<div class="row">
						<div class="col-4 col-5-large col-12-medium">
							<span class="image fit"><img src="../static/images/Test_3.JPG" alt="" /></span>
						</div>
						<div class="col-8 col-7-large col-12-medium" style="color: #f4f4f4">
							<header>
                                <h1><p style="color: #D3EBE9; font-size: 100%; line-height: normal; font-style: normal"> Alex Kelin</p>
                                    <p style="font-size:60%; color: #D3EBE9; font-style: normal"> <em style="color: #EDB54B; font-style: normal"> Computer Science </em>graduate student
                                </h1>
							</header>
                            <div style="font-style: normal; font-size: 90%; word-spacing: normal">
                            <p><u style="color: #26A98B; ">Languages:</u> <body> Python, Java </body>
                            <br><u style=" color: #26A98B">Portfolio projects:</u> <body> Maze generator, NLP-based text generator, Webscraper</body>
                            <br><u style=" color: #26A98B">Hard skills:</u><body>  Flask, SQL, GIT, CSS, HTML, Google</body>
                            <br><u style=" color: #26A98B">Interests:</u><body> Backend Development, AI, Prompt Engineering</body>
                                <br><u style=" color: #26A98B">Courses:</u><body> Codecademy, JetBrains, PromptHero, Udemy</body>
                            <br><br><br>
                            </div>
							<a href="#work" class="button large scrolly" style="background: #26A98B; font-size: medium; font-style: normal; color: #F2600B" >Learn what I do</a>
<br>
                            <br>
   <br>
                            <br>
                             <HR>
						</div>
					</div>
				</div>
                </article>

		<!-- Portfolio -->
			<article id="portfolio" class="" style="background: #202B35" >
                <div class="container" id="work" >
                    <header>
                            <h2 style="color: #98D1CE; alignment: left; font-size: 320%; font-style: normal">My Projects</h2>
                        <h2 style="color: #f4f4f4; font-style: normal">Here are some <a style="color: #EDB54B; font-style: normal">python</a> projects I made recently</h2>
                    </header>
                    <div class="row" >
                        <div class="col-4 col-6-medium col-12-small" >
                            <article class="box style2" style="background: #1E1E1D; height: 870px" >
                                <a href="https://github.com/AlexKelin/NLP_Project" target="_blank" class="image featured"><img src="../static/images/NLP.png" alt="" height="420"/></a>
                                <h3 style="background: #1E1E1D; color: #EDB54B; font-style: normal"><a href="https://github.com/AlexKelin/NLP_Project" target="_blank">NLP based text generator</a></h3>
                                <p style="background: #1E1E1D; color: #D3EBE9; font-style: normal">From any input .txt file, the program creates a library that is used to generate text. Additionally, the program offers to create text with a particular word entity or name.
The code is written in python and uses a Spacy module for text processing.
                                    <br>
                                </p><br><a href="https://github.com/AlexKelin/NLP_Project" target="_blank" class="button large scrolly" style="background: #26A98B; font-size: small; color: #EDB54B; font-style: normal" >Check code</a>

                            </article >
                        </div>
                        <div class="col-4 col-6-medium col-12-small">
                            <article class="box style2" style="background: #1E1E1D; height: 870px">
                                <a href="https://github.com/AlexKelin/Exit_The_Maze" class="image featured"><img src="../static/images/Maze.png" alt="" height="420"/></a>
                               <h3 style="background: #1E1E1D; color: #EDB54B; font-style: normal; text-align: justify-all"><a href="https://github.com/AlexKelin/Exit_The_Maze">Exit the maze</a></h3>
                                <p style="background: #1E1E1D; color: #D3EBE9; font-style: normal"> This program generates an n*m matrix with empty fields in each row based on the user's input of the dimensions and probability coefficient. Its primary objective is to determine whether a path exists from the top layer to the bottom of the matrix.
</p>                          <br>
                                <a href="https://github.com/AlexKelin/Exit-the-maze" target="_blank" class="button large scrolly" style="background: #26A98B; font-size: small; color: #EDB54B; font-style: normal;" >Check code</a>
                            </article>
                        </div>
                        <div class="col-4 col-6-medium col-12-small">
                            <article class="box style2" style="background: #1E1E1D; height: 870px">
                                <a href="https://github.com/AlexKelin/Webscraper" target="_blank" class="image featured"><img src="../static/images/Web.png" alt="" height="420"/></a>
                               <h3 style="background: #1E1E1D; color: #EDB54B; font-style: normal"><a href="https://github.com/AlexKelin/Webscraper" target="_blank">Web scraper</a></h3>
                                <p style="background: #1E1E1D; color: #D3EBE9;  font-style: normal">This Python program allows the user to search for video card models on an online store, retrieve the prices and links for the products, and store the results in an SQL database.</p><br>
                                <br><br><br><a href="https://github.com/AlexKelin/Webscraper" target="_blank" class="button large scrolly" style="background: #26A98B; font-size: small; color: #EDB54B ;font-style: normal " >Check code</a>

                            </article>
                                                            <br>
                                <br>
                        </div>

                    </div>
                </div>

			</article>
     		<!-- Worksheets -->
			<article id="worksheets" class="wrapper style1" style="background: #202B35">
				<div class="container" style="background: #202B35">
					<div class="row" style="align-items: flex-start; display: flex">
						<div class="col-8 col-7-large col-12-medium" style="color: #f4f4f4">
							<header>
                            <br>
                                </h1>
								<h1><h style="color: #EDB54B; alignment: left; font-size: 100%;font-style: normal"><b style="color: #98D1CE; font-style: normal">Python </b>Worksheets</h>
                                </h1>
							</header>
                            <div style="align-content: flex-start; display: flex; font-style: normal">
                                <br>
                                <p style=""> Do you enjoy <b style="color: #EDB54B;">short</b> and <b style="color: #EDB54B;">effective</b> code? <br><br>Check out my Python worksheets:</p>

                                <br>
</div>
                                                <div class="row" >
                        <div class="col-4 col-6-medium col-12-small" >
                            <article class="box style2" style="background: #1E1E1D; height: 500px;" >
                                <a href="../static/assets/Cheatsheet-LC.pdf" download="Cheatsheet-LC.pdf"  target="_blank" class="image featured"><img src="../static/images/test.png" alt="" height="300" width="600"/></a>
                                <h3 style="background: #1E1E1D; color: #EDB54B; font-style: normal"><b style="color: #EDB54B;">List comprehension</b></h3>
                                <p style="background: #1E1E1D; color: #D3EBE9; font-style: normal">
                                </p><a href="../static/assets/Cheatsheet-LC.pdf" download="Cheatsheet-LC.pdf"  target="_blank" class="button large scrolly" style="background: #26A98B; font-size: small; color: #EDB54B; font-style: normal" >Download</a>

                            </article >
                        </div>
                        <div class="col-4 col-6-medium col-12-small">
                            <article class="box style2" style="background: #1E1E1D; height: 500px">
                                <a href="../static/assets/Cheatsheet%20-%20DC.pdf" download="Cheatsheet%20-%20DC.pdf" class="image featured"><img src="../static/images/DC-img.png" alt="" height="300" width="500"/></a>
                               <h3 style="background: #1E1E1D; color: #EDB54B; font-style: normal; text-align: justify-all"><b style="color: #EDB54B;"> Dictionary comprehension</b></h3>
                                <p style="background: #1E1E1D; color: #D3EBE9; font-style: normal"> </p>
                                <a href="../static/assets/Cheatsheet%20-%20DC.pdf" download="Cheatsheet%20-%20DC.pdf" target="_blank" class="button large scrolly" style="background: #26A98B; font-size: small; color: #EDB54B; font-style: normal;" >Download</a>
                            </article>
                        </div>
                        <div class="col-4 col-6-medium col-12-small">
                            <article class="box style2" style="background: #1E1E1D; height: 500px">
                                <a href="../static/assets/Cheatsheet-Lambda.pdf" download="Cheatsheet-Lambda.pdf" target="_blank" class="image featured"><img src="../static/images/Lambda-img.png" alt="" height="300" width="500"/></a>
                               <h3 style="background: #1E1E1D; color: #EDB54B; font-style: normal"><b style="color: #EDB54B;">Lambda functions</b></h3>
                                <p style="background: #1E1E1D; color: #D3EBE9;  font-style: normal"></p>
                                <a href="../static/assets/Cheatsheet-Lambda.pdf" download="Cheatsheet-Lambda.pdf" target="_blank" class="button large scrolly" style="background: #26A98B; font-size: small; color: #EDB54B ;font-style: normal " >Download</a>

                            </article>

                        </div>

                    </div>

                                                    <div>


						</div>
                        </div>
					</div>
				</div>
                </article>
		<!-- CV -->
			<article id="omg" class="wrapper style1" style="background: #202B35">
				<div class="container" style="background: #202B35">
					<div class="row" style="align-items: flex-start; display: flex">
						<div class="col-8 col-7-large col-12-medium" style="color: #f4f4f4">
							<header>
                            <br>
                                </h1>
								<h1><a style="color: #EDB54B; font-size: 100%; line-height: normal; font-style: normal">Experience Timeline</a>
                                </h1>
							</header>
                            <div style="align-content: flex-start; display: flex; font-style: normal">

                            <p style="font-size:150%;"><br><a style="color: #26A98B">2022-2023:</a> Computer Science, Master’s degree<br>
                                <br><a style="color: #26A98B">2017-2022:</a> Founded and managed three startups <br>
                            <br><a style="font-size:150%;"><a style="color: #26A98B">2013-2017:</a> Employment in various industries, project management</a><br>
                                <br><a style="font-size:150%;"><a style="color: #26A98B">2012-2013:</a> International Business, Master’s degree</a><br>
                                <br><a style="font-size:150%;"><a style="color: #26A98B">2007-2012:</a> Management & economics, Bachelor’s degree</a>
                                <br>
</div>
                                                    <div>
                            <br></br><br>
							<a href="../static/assets/Resume-Alex-Kelin.pdf" download="Resume-Alex-Kelin.pdf" class="button large scrolly" style="background: #26A98B; font-size: medium; font-style: normal; color: #EDB54B" >Download CV</a>
                        <body> &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; </body>
                            <a href="https://www.linkedin.com/in/alexkelin/" class="button large scrolly" style="background: #26A98B; font-size: medium; color: #EDB54B; font-style: normal" >LinkedIn</a>

                             <HR>
						</div>
                        </div>
					</div>
				</div>
                </article>




		<!-- Contact -->
			<article id="contact" class="wrapper style4" style="background: #202B35">
				<div class="container medium">
					<header>
                        <br>
                        <br>
						<h2 style="color: #EDB54B; font-style: normal">Got an interesting job?</h2>
					</header>

                    <a href="tel:6032411708" class="button large scrolly" style="background: #26A98B; font-size: medium; font-style: normal; color: #EDB54B" >Call Alex</a>
                        <body> &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; </body>
                        <a href="mailto:9272107@gmail.com" class="button large scrolly" style="background: #26A98B; font-size: medium; color: #EDB54B; font-style: normal" >Shoot an email</a>

                    <div>

                    <br style="font-style: normal">
                        <p style="color: #EDB54B; font-style: normal; font-weight: bold">OR?</p>
                        <p style="color: #D3EBE9; font-style: normal">Fill out the form below</p>


                    </div>
					<div class="row">
						<div class="col-12" style="align-items: flex-start; display: flex">
							<form action="https://formsubmit.co/9272107@gmail.com" method="post">
								<div class="row" >
									<div class="col-6 col-12-small">
                                        <label for="name"></label><input type="text" name="name" id="name" placeholder="Name"/>
									</div>
									<div class="col-6 col-12-small">
                                        <label for="email"></label><input type="email" name="email" id="email" placeholder="Email" style="background: #282828; border-color: #282828" />
									</div>
									<div class="col-12">
                                        <label for="message"></label><textarea name="message" id="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<ul class="actions">
                                            <input type="hidden" name="_captcha" value="false">
											<li><input type="submit" value="Submit form" style="background: #26A98B; font-size: medium;"/></li>
                                            <body>&nbsp;  &nbsp; &nbsp; </body>
											<li><input type="reset" value="Clear Form" class="alt" style="font-size: medium;"/></li>
										</ul>
									</div>
								</div>
							</form>
						</div>
						<div class="col-12">
<br>
                            <h3>Thanks for <a href="https://www.linkedin.com/in/alexkelin/" style="font-weight: bold; font-style: normal;  color: #EDB54B"><u>visiting</u></a></h3>

						</div>
					</div>
					<footer>
							<em style="color: #f4f4f4">&copy; All rights reserved <br>Made by Alex Kelin <br>2023</em>
					</footer>
				</div>
			</article>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</i>
</html>