<!DOCTYPE HTML>
<html style="background: #202B35">
<head>
    <meta property="og:title" content="A portfolio website of a python developer and a prompt engineer Alex Kelin">
    <meta property="og:description" content="Look up relevant projects and experience of Alex Kelin - a python developer">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://guidance-ai.com">
    <meta name="Alex Kelin" property="og:image" content=".../static/images/IMG_2243.JPG"/>
    <title>Alex Kelin</title>
    <meta charset="utf-8" />
    <meta name="title" content="A portfolio website of a python developer Alex Kelin">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <style>
        #top {
            overflow: hidden;
        }
    </style>
    <link rel="stylesheet" href="../static/css/main.css" />
      <link rel="icon" type="image/png" href="../static/images/snake_icon.png">
</head>
<body class="is-preload">

	<!-- Nav -->
	<nav id="nav" style="background: #1E1E1D">
		<div class="icons">
			<a href="https://www.linkedin.com/in/alexkelin/" class="icon brands fa-linkedin-in" style="color: #EDB54B;"><span class="label">LinkedIn</span></a>
			<a href="https://github.com/AlexKelin" class="icon brands fa-github" style="color: #D3EBE9;"><span class="label">Github</span></a>
			<a href="https://www.facebook.com/alex.kelin.7" class="icon brands fa-facebook-f" style="color: #33859D;"><span class="label">Facebook</span></a>
		</div>
		<input style="justify-content: flex-end" type="checkbox" id="menu-toggle" />
		<label for="menu-toggle" class="menu-btn">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</label>
		<ul class="container" id="menu-items" style="font-family: 'Open Sans';">
			<li><a href="https://guidance-ai.com/home" style="color: #EDB54B; font-style: normal;">Home</a></li>
			<li><a href="https://guidance-ai.com/portfolio" style="color: #EDB54B; font-style: normal;">Portfolio</a></li>
			<li><a href="https://guidance-ai.com/services" style="color: #EDB54B; font-style: normal;">Services</a></li>
            <li><a href="https://guidance-ai.com/home#contact" style="color: #EDB54B; font-style: normal;">Contact</a></li>
		</ul>
	</nav>

	<!-- Home -->
	<section id="top" class="wrapper style1" style="background: #202B35; height: 100vh;">
		<div class="container" style="background: #202B35; margin-top: 20px; font-family:'Open Sans';">
			<div class="row">
				<div class="col-4 col-5-large col-12-medium" style="display: flex; align-items: normal;">
					<span class="image fit"><img src="../static/images/Al.png" alt="" style="max-width: 100%; height: auto; border-radius: 50%;"></span>
				</div>
				<div class="col-8 col-7-large col-12-medium" style="color: #f4f4f4;font-size: 90%">
					<header>
						<h1 style="margin-top: 0; color: #D3EBE9;padding: 8px;">
							Alex Kelin
						</h1>
					</header>
					<div style="font-style: normal; font-size: 100%; word-spacing: normal;padding: 8px;margin-top: -20px">
						<h2 style="color: #EDB54B; font-weight: normal; line-height: 1.0;"><span style="color: #26A98B">Python</span> Software Engineer</h2>
						<p style="line-height: 1.3; font-size: 120%; text-align: justify; ">Providing AGI integration services to enhance operations and achieve goals through the power of artificial intelligence.</p>
						<h2 style="color: #EDB54B; font-weight: normal; line-height: 1.0;"><span style="color: #26A98B">Prompt Engineer |</span><span style="color: #EDB54B">|</span> LLM Consultant</h2>
						<p style="line-height: 1.3; font-size: 120%;text-align: justify; ">Offering expert AI consultancy services to implement solutions and maximize the benefits of artificial intelligence.</p>
						<h2 style="color: #EDB54B; font-weight: normal; line-height: 1.0;"><span style="color: #26A98B">Web</span> Developer</h2>
						<p style="line-height: 1.3; font-size: 120%;text-align: justify;">Specializing in responsive and user-friendly web development for exceptional user experiences.</p>
						<div style="margin-bottom: 70px;">
							<br>
							<a href="#experience" class="button large scrolly" style="background: #26A98B; color: #1E1E1D;font-size: 120%;font-style: normal;letter-spacing: 0.5px; padding: 10px 20px; border-radius: 4px;">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

		<!-- Experience -->
		<section id="experience" class="wrapper style1" style="background: #202B35; font-family: 'Open Sans';">
			<br>
			<div class="container" style="background: #202B35">
				<div class="row" style="align-items: flex-start; display: flex">
					<div class="col-1-large col-7-large col-12-medium" style="color: #f4f4f4">
						<header>
							<h2 style="color: #EDB54B; font-size: 220%; font-weight: normal; line-height: 1.2;margin-bottom: -10px;margin-top: -10px;">Experience Timeline</h2>
						</header>
						<p style="margin-top: -30px;text-align: justify; padding: 8px; font-size: 120%; ">As an entrepreneurial-minded Computer Science graduate student with expertise in Python, AI, and algorithm implementation, I actively contributed to the tech community through open-source projects and networking. With a proven track record as an innovative business executive, I led teams and launched successful ventures. Holding a Master's degree in International Business and pursuing studies in Computer Science, I aim to make a lasting impact in the IT industry.</p>
						<div style="display: flex;">
							<div style="flex: 1;padding: 8px">
								<!-- Original table -->
								<table style="font-size: 110%; margin-bottom: 5px;width: 100%; text-align: justify">
									<tr style="margin-bottom: 5px;">
										<td style="color: #26A98B; font-weight: bold; padding-right: 10px; font-size: 110%">2022-2023: </td>
										<td style="text-align: left;line-height: 2.0; font-size: 110%"><span>&#128187;</span> Founder, Project Unbound</td>
									</tr>
									<tr style="margin-bottom: 5px;">
										<td style="color: #26A98B; font-weight: bold; padding-right: 10px; font-size: 110%"></td>
										<td style="text-align: left;line-height: 2.0; font-size: 110%;"><span>&#127891;</span> Statistics and Data Science, MIT MicroMaster’s degree</td>
									</tr>
									<tr style="margin-bottom: 5px;">
										<td style="color: #26A98B; font-weight: bold; padding-right: 10px;margin-top: 5px; font-size: 110%"></td>
										<td style="text-align: left;line-height: 2.0; font-size: 110%"><span>&#127891;</span> Computer Science, Master’s degree</td>
									</tr>
									<tr style="margin-bottom: 5px;">
										<td style="color: #26A98B; font-weight: bold; padding-right: 10px;margin-top: 5px; font-size: 110%">2017-2022:</td>
										<td style="text-align: left;line-height: 2.0; font-size: 110%"><span>&#128188;</span> Founded and managed two startups</td>
									</tr>
									<tr style="margin-bottom: 5px;">
										<td style="color: #26A98B; font-weight: bold; padding-right: 10px;margin-top: 5px; font-size: 110% ">2013-2017:</td>
										<td style="text-align: left;line-height: 2.0; font-size: 110%"><span>&#128188;</span> Employment in various industries, project management</td>
									</tr>
									<tr style="margin-bottom: 5px;">
										<td style="color: #26A98B; font-weight: bold; padding-right: 10px;margin-top: 5px; font-size: 110%">2012-2013:</td>
										<td style="text-align: left;line-height: 2.0; font-size: 110%"><span>&#127891;</span> International Business, Master’s degree</td>
									</tr>
									<tr style="margin-bottom: 5px;">
										<td style="color: #26A98B; font-weight: bold; padding-right: 10px;margin-top: 5px; font-size: 110%">2007-2012:</td>
										<td style="text-align: left;line-height: 2.0; font-size: 110%"><span>&#127891;</span> Management & economics, Bachelor’s degree</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="col-4 col-5-large col-12-medium" style="color: #f4f4f4">
							<p style="font-size: 120%; margin-top: 10px;text-align: justify; padding: 8px ">
								As an AGI consultant, I leverage my expertise in advanced AI technologies, including LLMs and ChatGPT, to drive innovation and transformation. I provide valuable insights and guidance to organizations seeking to unlock the strategic potential of artificial general intelligence.
							</div>
							<div class="col-4 col-5-large col-12-medium" style="color: #f4f4f4">
								<p style="font-size: 120%; margin-top: 10px;text-align: justify; padding: 8px ">
									Simultaneously, as a startup founder, I aim to leverage the power of AI to create valuable solutions that drive meaningful impact. By harnessing AI technologies, I strive to develop innovative applications that enhance user experiences, optimize processes, and deliver tangible value to businesses and individuals alike.
								</p>
								<div style="display: flex; flex-wrap: nowrap;justify-content: center; margin-top: 40px;">
									<a href="https://guidance-ai.com/portfolio" class="button large scrolly" style="background: #26A98B; margin-left: 20px; color: #1E1E1D; font-size: 110%; font-style: normal; text-decoration: none; padding: 10px 20px; border-radius: 2px; border: none; cursor: pointer; font-weight: normal; letter-spacing: 0.5px; line-height: 1.5; text-align: center; width: 160px; margin-right: 15px; margin-bottom: 10px;">Portfolio</a>
									<a href="https://guidance-ai.com/services" class="button large scrolly" style="background: #26A98B; margin-left: 20px; color: #1E1E1D; font-size: 110%; font-style: normal; text-decoration: none; padding: 10px 20px; border-radius: 2px; border: none; cursor: pointer; font-weight: normal; letter-spacing: 0.5px; line-height: 1.5; text-align: center; width: 160px; margin-right: 15px; margin-bottom: 10px;">Services</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Contact -->
			<section id="contact" class="wrapper style4" style="background: #202B35; font-family: 'Open Sans';padding: 8px;">
			    <div class="container large">
			        <header>
			            <p style="color: #EDB54B; font-style: normal; font-size: 220%; margin-top: 60px;">Contact <span style="color: #26A98B">Alex</span></p>
			        </header>
			        <a href="mailto:akelin@rivier.edu" class="button large scrolly" style="background: #26A98B; color: #1E1E1D; font-size: 110%; font-style: normal; text-decoration: none; padding: 10px 20px; border-radius: 2px; border: none; cursor: pointer; font-weight: normal; letter-spacing: 0.5px; line-height: 1.5; text-align: center; width: 160px;">Send Email</a>
			        <div>
			            <p style="color: #EDB54B; font-style: normal; font-weight: bold; margin-top: -5px; margin-bottom: -10px;">OR?</p>
			            <p style="font-size: 120%; margin-top: 10px;text-align: justify; color: #f4f4f4">Fill out the form below</p>
			        </div>
			        <div class="row">
			            <div class="col-12" style="align-items: flex-start; display: flex">
			                <form action="https://formspree.io/f/xnqkyakw" method="POST">
			                    <div class="row">
			                        <div class="col-6 col-12-small">
			                            <label for="name"></label><input type="text" name="name" id="name" placeholder="Name"/>
			                        </div>
			                        <div class="col-6 col-12-small">
			                            <label for="email"></label><input type="email" name="_replyto" id="email" placeholder="Email" style="background: #282828; border-color: #282828" />
			                        </div>
			                        <div class="col-12">
			                            <label for="message"></label><textarea name="message" id="message" placeholder="Message"></textarea>
			                        </div>
			                        <div class="col-12" style="text-align: center;font-family: 'Open Sans'">
			                            <ul class="actions">
			                                <input type="hidden" name="_captcha" value="false" style="margin-bottom: -10px;">
			                                <li><input type="submit" value="Submit form" style="font-size: 110%; font-family:'Open Sans';line-height: 1.5;padding: 10px 20px; margin-top: 10px; text-align: justify; alignment: left; background: #26A98B; color: #1E1E1D;"></li>
			                            </ul>
			                        </div>
			                    </div>
			                </form>
			            </div>
			            <h3>Thanks for <a href="https://www.linkedin.com/in/alexkelin/" style="font-weight: bold; font-style: normal; color: #EDB54B"><u>visiting</u></a></h3>
			        </div>
			        <footer>
			            <em style="color: #f4f4f4; margin-top: -40px;margin-bottom: -20px;">&copy; All rights reserved <br>Made by Alex Kelin<br>2023</em>
			        </footer>
			    </div>
			</section>


			<!-- Scripts -->
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>
		</body>
	</html>
