<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Portfolio -->
    <article id="projects" class="" style="background: #202B35" >
        <br><br>
        <div class="container" >
            <header>
                <h2 style="color: #98D1CE; alignment: left; font-size: 320%; font-style: normal;">My Projects</h2>
                <h2 style="color: #f4f4f4; font-style: normal">Here are some <a style="color: #EDB54B; font-style: normal">python</a> projects I made recently</h2>
            </header>
            <div class="row" >
                <div class="col-4 col-6-medium col-12-small" >
                    <article class="box style2" style="background: #1E1E1D; height: 870px" >
                        <a href="https://github.com/AlexKelin/NLP_Project" target="_blank" class="image featured"><img src="../static/images/NLP.png" alt="" height="420"/></a>
                        <h3 style="background: #1E1E1D; color: #EDB54B; font-style: normal"><a href="https://github.com/AlexKelin/NLP_Project" target="_blank">NLP based text generator</a></h3>
                        <p style="background: #1E1E1D; color: #D3EBE9; font-style: normal">From any input .txt file, the program creates a library that is used to generate text. Additionally, the program offers to create text with a particular word entity or name.
                            The code is written in python and uses a Spacy module for text processing.
                            <br>
                        </p>
                        <br><a href="https://github.com/AlexKelin/NLP_Project" target="_blank" class="button large scrolly" style="background: #26A98B; font-size: small; color: #EDB54B; font-style: normal" >Check code</a>

                    </article >
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <article class="box style2" style="background: #1E1E1D; height: 870px">
                        <a href="https://github.com/AlexKelin/Exit_The_Maze" class="image featured"><img src="../static/images/Maze.png" alt="" height="420"/></a>
                        <h3 style="background: #1E1E1D; color: #EDB54B; font-style: normal; text-align: justify-all"><a href="https://github.com/AlexKelin/Exit_The_Maze">Exit the maze</a></h3>
                        <p style="background: #1E1E1D; color: #D3EBE9; font-style: normal"> This program generates an n*m matrix with empty fields in each row based on the user's input of the dimensions and probability coefficient. Its primary objective is to determine whether a path exists from the top layer to the bottom of the matrix.
                        </p>
                        <br><a href="https://github.com/AlexKelin/Exit-the-maze" target="_blank" class="button large scrolly" style="background: #26A98B; font-size: small; color: #EDB54B; font-style: normal;" >Check code</a>
                    </article>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <article class="box style2" style="background: #1E1E1D; height: 870px">
                        <a href="https://github.com/AlexKelin/Webscraper" target="_blank" class="image featured"><img src="../static/images/Web.png" alt="" height="420"/></a>
                        <h3 style="background: #1E1E1D; color: #EDB54B; font-style: normal"><a href="https://github.com/AlexKelin/Webscraper" target="_blank">Web scraper</a></h3>
                        <p style="background: #1E1E1D; color: #D3EBE9;  font-style: normal">This Python program allows the user to search for video card models on an online store, retrieve the prices and links for the products, and store the results in an SQL database.</p><br>
                        <a href="https://github.com/AlexKelin/Webscraper" target="_blank" class="button large scrolly" style="background: #26A98B; font-size: small; color: #EDB54B ;font-style: normal " >Check code</a>
                    </article>
                </div>
            </div>
        </div>
    </article>

    <!-- Worksheets -->
    <article id="worksheets" class="wrapper style1" style="background: #202B35">
        <div class="container" style="background: #202B35">
            <div class="row" style="align-items: flex-start; display: flex">
                <div class="col-8 col-7-large col-12-medium" style="color: #f4f4f4">
                    <header>
                        <br>
                        </h1>
                        <h1><h style="color: #EDB54B; alignment: left; font-size: 100%;font-style: normal"><b style="color: #98D1CE; font-style: normal">Python </b>Worksheets</h>
                        </h1>
                    </header>
                    <div style="align-content: flex-start; display: flex; font-style: normal">
                        <br>
                        <p style=""> Do you practice <b style="color: #EDB54B;">short</b> and <b style="color: #EDB54B;">effective</b> code? <br><br>Check out my Python worksheets:</p>
                        <br>
                    </div>
                    <div class="row" >
                        <div class="col-4 col-6-medium col-12-small" >
                            <article class="box style2" style="background: #1E1E1D; height: 500px;" >
                                <a href="../static/assets/LC_worksheet.pdf" download="LC_worksheet.pdf"  target="_blank" class="image featured"><img src="../static/images/LC-img.png" alt="" height="300" width="600"/></a>
                                <h3 style="background: #1E1E1D; color: #EDB54B; font-style: normal"><b style="color: #EDB54B;font-size: medium">List comprehension</b></h3>
                                <p style="background: #1E1E1D; color: #D3EBE9; font-style: normal">
                                </p><a href="../static/assets/LC_worksheet.pdf" download="LC_worksheet.pdf"  target="_blank" class="button large scrolly" style="background: #26A98B; font-size: small; color: #EDB54B; font-style: normal" >Download</a>
                            </article >
                        </div>
                        <div class="col-4 col-6-medium col-12-small">
                            <article class="box style2" style="background: #1E1E1D; height: 500px;">
                                <a href="../static/assets/DC_worksheet.pdf" download="DC_worksheet.pdf" class="image featured"><img src="../static/images/DC-img.png" alt="" height="300" width="500"/></a>
                                <h3 style="background: #1E1E1D; color: #EDB54B; font-style: normal; text-align: justify-all"><b style="color: #EDB54B; font-size: medium"> Dict comprehension</b></h3>
                                <p style="background: #1E1E1D; color: #D3EBE9; font-style: normal"> </p>
                                <a href="../static/assets/DC_worksheet.pdf" download="DC_worksheet.pdf" target="_blank" class="button large scrolly" style="background: #26A98B; font-size: small; color: #EDB54B; font-style: normal;" >Download</a>
                            </article>
                        </div>
                        <div class="col-4 col-6-medium col-12-small">
                            <article class="box style2" style="background: #1E1E1D; height: 500px;">
                                <a href="../static/assets/Lambda_worksheet.pdf" download="Lambda_worksheet.pdf" target="_blank" class="image featured"><img src="../static/images/Lambda-img.png" alt="" height="300" width="500"/></a>
                                <h3 style="background: #1E1E1D; color: #EDB54B; font-style: normal"><b style="color: #EDB54B;font-size: medium">Lambda functions</b></h3>
                                <p style="background: #1E1E1D; color: #D3EBE9;  font-style: normal"></p>
                                <a href="../static/assets/Lambda_worksheet.pdf" download="Lambda_worksheet.pdf" target="_blank" class="button large scrolly" style="background: #26A98B; font-size: small; color: #EDB54B ;font-style: normal " >Download</a>
                            </article>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</head>
<body>

</body>
</html>