<!DOCTYPE HTML>
<html style="background: #202B35">
<head>
    <meta property="og:title" content="A portfolio website of a python developer and a prompt engineer Alex Kelin">
    <meta property="og:description" content="Look up relevant projects and experience of Alex Kelin - a python developer">
    <meta property="og:type" content="article">
<meta property="og:url" content="https://guidance-ai.com/services">
    <meta name="Alex Kelin" property="og:image" content=".../static/images/snake.png"/>
    <title>Services</title>
    <meta charset="utf-8" />
    <meta name="title" content="A portfolio website of a python developer Alex Kelin">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <style>
        #top {
            overflow: hidden;
        }
    </style>
    <link rel="stylesheet" href="../static/css/main.css" />
</head>
<body class="is-preload">

	<!-- Nav -->
	<nav id="nav" style="background: #1E1E1D">
		<div class="icons">
			<a href="https://www.linkedin.com/in/alexkelin/" class="icon brands fa-linkedin-in" style="color: #EDB54B;"><span class="label">LinkedIn</span></a>
			<a href="https://github.com/AlexKelin" class="icon brands fa-github" style="color: #D3EBE9;"><span class="label">Github</span></a>
			<a href="https://www.facebook.com/alex.kelin.7" class="icon brands fa-facebook-f" style="color: #33859D;"><span class="label">Facebook</span></a>
		</div>
		<input style="justify-content: flex-end" type="checkbox" id="menu-toggle" />
		<label for="menu-toggle" class="menu-btn">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</label>
		<ul class="container" id="menu-items" style="font-family: 'Open Sans';">
			<li><a href="https://guidance-ai.com/home" style="color: #EDB54B; font-style: normal;">Home</a></li>
			<li><a href="https://guidance-ai.com/portfolio" style="color: #EDB54B; font-style: normal;">Portfolio</a></li>
			<li><a href="https://guidance-ai.com/services" style="color: #EDB54B; font-style: normal;">Services</a></li>
<li><a href="https://guidance-ai.com/home#contact" style="color: #EDB54B; font-style: normal;">Contact</a></li>

		</ul>
	</nav>

	<!-- Home -->
	<section id="top" class="wrapper style1" style="background: #202B35; ">
		<div class="container" style="background: #202B35; margin-top: 10px; font-family:'Open Sans';">
			<div class="row">
            <div class="col-4 col-5-large col-12-medium" style="display: flex; align-items: normal;">
					<span class="image fit"><img src="../static/images/ruler.png" alt="" style="max-width: 100%; height: auto; border-radius: 50%;"></span>
				</div>
				<div class="col-8 col-7-large col-12-medium" style="color: #f4f4f4;font-size: 90%">
					<header>
						<h1 style="margin-top: 0; color: #D3EBE9;padding: 8px;">
							Services
						</h1>
					</header>

					<div style="font-style: normal; font-size: 100%; word-spacing: normal;padding: 8px;margin-top: -20px">

                        <h2 style="color: #EDB54B; font-weight: normal; line-height: 1.0;"><span style="color: #26A98B">AGI </span> Consulting Services</h2>
						<p style="line-height: 1.3; font-size: 120%; text-align: justify; ">Unlock the full potential of Artificial General Intelligence (AGI) in various domains of your life. I offer expert guidance on leveraging AGI, such as ChatGPT, to improve daily operations, boost personal productivity, and enhance decision-making processes. Harness the power of AGI to automate tasks, facilitate learning, and explore new possibilities in your personal and professional endeavors. </p>
						<h2 style="color: #EDB54B; font-weight: normal; line-height: 1.0;"><span style="color: #26A98B">Software Engineering |</span><span style="color: #EDB54B">|</span> AGI Implementation</h2>
						<p style="line-height: 1.3; font-size: 120%;text-align: justify; ">Leverage my expertise as a software engineer and AGI implementation specialist to drive innovation in your business. I offer comprehensive software development services, crafting customized solutions that harness the power of ChatGPT and Artificial General Intelligence. From designing and developing robust software applications to seamlessly integrating AGI capabilities, I can help you unlock new possibilities and optimize performance in your day-to-day operations. </p>
						<h2 style="color: #EDB54B; font-weight: normal; line-height: 1.0;"><span style="color: #26A98B">Web</span> Development</h2>
						<p style="line-height: 1.3; font-size: 120%;text-align: justify;">I specialize in creating custom websites that captivate audiences and drive results. With a focus on user experience and modern design, I develop responsive and intuitive websites that effectively showcase your brand and offerings. From conceptualization to deployment, I deliver tailored web solutions that empower your online presence and help you achieve your business goals.<div style="margin-bottom: 70px;">
							<br>
                        <div>
							<a href="https://guidance-ai.com/home#contact" class="button large scrolly" style="background: #26A98B; color: #1E1E1D;font-size: 120%;font-style: normal;letter-spacing: 0.5px; padding: 10px 20px; border-radius: 4px;">Contact</a>

                        </div>
                    </div>
					</div>

				</div>

			</div>
                                					<footer>
						<em style="color: #f4f4f4;">&copy; All rights reserved <br>Made by Alex Kelin <br>2023</em>
					</footer>
		</div>
	</section>


			<!-- Scripts -->
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>
		</body>
	</html>
