<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../static/css/main.css" />
</head>
<body class="is-preload">

    <!-- Description of Portfolio -->
    <section id="portfolio-description" class="wrapper style1" style="background: #202B35">
        <div class="row">
            <header>
                <h2 style="color: #98D1CE;">Description of Portfolio</h2>
            </header>
            <div class="col-4-large">
                <table>
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Description</th>
                            <th>Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>         Welcome to my portfolio! Here, you can explore a collection of my recent Python projects and witness my passion for programming in action. Each project demonstrates my skills in various domains, including artificial intelligence, web development, and data processing. Through these projects, I strive to create innovative solutions that solve real-world problems and deliver meaningful results. Additionally, I also provide consulting services for projects related to Artificial General Intelligence (AGI) and contribute to open-source initiatives. Join me on this coding journey and discover the creative possibilities of Python.</td>
                            <td>NLP-based Text Generator</td>
                            <td>Generate text from any input .txt file using a library created by the program. It also allows generating text with a particular word entity or name. The code is written in Python and utilizes the Spacy module for text processing.</td>
                            <td><a href="https://github.com/AlexKelin/NLP_Project" target="_blank">Check Code</a></td>
                        </tr>
                        <tr>
                            <td>Exit the Maze</td>
                            <td>This program generates an n*m matrix with empty fields in each row based on user input of dimensions and a probability coefficient. The objective is to determine whether a path exists from the top layer to the bottom of the matrix.</td>
                            <td><a href="https://github.com/AlexKelin/Exit_The_Maze" target="_blank">Check Code</a></td>
                        </tr>
                        <tr>
                            <td>Web Scraper</td>
                            <td>This Python program allows the user to search for video card models on an online store, retrieve the prices and links for the products, and store the results in an SQL database.</td>
                            <td><a href="https://github.com/AlexKelin/Webscraper" target="_blank">Check Code</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- Projects -->
    <section id="projects" class="wrapper style1" style="background: #202B35">
        <div class="container">
            <header>
                <h2 style="color: #98D1CE;">My Projects</h2>
                <h2 style="color: #f4f4f4;">Here are some of my recent Python projects</h2>
            </header>
            <div class="row">
                <div class="col-4 col-6-medium col-12-small">
                    <article class="box style2">
                        <a href="https://github.com/AlexKelin/NLP_Project" target="_blank" class="image featured"><img src="../static/images/NLP.png" alt="" height="420"></a>
                        <h3><a href="https://github.com/AlexKelin/NLP_Project" target="_blank">NLP-based Text Generator</a></h3>
                        <p>Generate text from any input .txt file using a library created by the program. It also allows generating text with a particular word entity or name. The code is written in Python and utilizes the Spacy module for text processing.</p>
                        <a href="https://github.com/AlexKelin/NLP_Project" target="_blank" class="button large">Check Code</a>
                    </article>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <article class="box style2">
                        <a href="https://github.com/AlexKelin/Exit_The_Maze" target="_blank" class="image featured"><img src="../static/images/Maze.png" alt="" height="420"></a>
                        <h3><a href="https://github.com/AlexKelin/Exit_The_Maze" target="_blank">Exit the Maze</a></h3>
                        <p>This program generates an n*m matrix with empty fields in each row based on user input of dimensions and a probability coefficient. The objective is to determine whether a path exists from the top layer to the bottom of the matrix.</p>
                        <a href="https://github.com/AlexKelin/Exit_The_Maze" target="_blank" class="button large">Check Code</a>
                    </article>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <article class="box style2">
                        <a href="https://github.com/AlexKelin/Webscraper" target="_blank" class="image featured"><img src="../static/images/Web.png" alt="" height="420"></a>
                        <h3><a href="https://github.com/AlexKelin/Webscraper" target="_blank">Web Scraper</a></h3>
                        <p>This Python program allows the user to search for video card models on an online store, retrieve the prices and links for the products, and store the results in an SQL database.</p>
                        <a href="https://github.com/AlexKelin/Webscraper" target="_blank" class="button large">Check Code</a>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- Worksheets -->
    <section id="worksheets" class="wrapper style1" style="background: #202B35">
        <div class="container">
            <header>
                <h2 style="color: #98D1CE;">Python Worksheets</h2>
            </header>
            <div class="row">
                <div class="col-4 col-6-medium col-12-small">
                    <article class="box style2">
                        <a href="../static/assets/LC_worksheet.pdf" download="LC_worksheet.pdf" target="_blank" class="image featured"><img src="../static/images/LC-img.png" alt="" height="300" width="600"></a>
                        <h3><a href="../static/assets/LC_worksheet.pdf" download="LC_worksheet.pdf" target="_blank">List Comprehension</a></h3>
                        <a href="../static/assets/LC_worksheet.pdf" download="LC_worksheet.pdf" target="_blank" class="button large">Download</a>
                    </article>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <article class="box style2">
                        <a href="../static/assets/DC_worksheet.pdf" download="DC_worksheet.pdf" target="_blank" class="image featured"><img src="../static/images/DC-img.png" alt="" height="300" width="500"></a>
                        <h3><a href="../static/assets/DC_worksheet.pdf" download="DC_worksheet.pdf" target="_blank">Dict Comprehension</a></h3>
                        <a href="../static/assets/DC_worksheet.pdf" download="DC_worksheet.pdf" target="_blank" class="button large">Download</a>
                    </article>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <article class="box style2">
                        <a href="../static/assets/Lambda_worksheet.pdf" download="Lambda_worksheet.pdf" target="_blank" class="image featured"><img src="../static/images/Lambda-img.png" alt="" height="300" width="500"></a>
                        <h3><a href="../static/assets/Lambda_worksheet.pdf" download="Lambda_worksheet.pdf" target="_blank">Lambda Functions</a></h3>
                        <a href="../static/assets/Lambda_worksheet.pdf" download="Lambda_worksheet.pdf" target="_blank" class="button large">Download</a>
                    </article>
                </div>
            </div>
        </div>
    </section>

</body>
</html>

